page-login {
    img
    {
        margin-bottom: 15%;
    }
    .forget-item
    {
        background: transparent;
        width: 50%;
        float: left;
        .item-cover, .item-inner
        {
            padding: 0 !important;
        }
    }
    .checkbox-icon
    {
        border: 1px solid color($colors, secondary, base) !important;
        border-radius: 15% !important;    
        .checkbox-inner
        {
            border-color: color($colors, primary, base) !important;
        } 
    }
    ion-input, input
    {
        height: 50px;
        margin: 0 !important;
        .input-cover
        {
            display: none !important;
        }
    }
}
